.scroll-container {
  position: absolute;
  top: 88vh;
  left: 50%;
  height: auto;
  max-width: 100%;
  min-width: 90%;
  padding: $layoutSpacing;
  background-color: $white;
  will-change: transform;
  transform: translateX(-50%);
  transition: width 100ms;
}
