.scroll-container {
  position: absolute;
  top: 88vh;
  left: 50%;
  height: auto;
  max-width: 100%;
  min-width: 90%;
  padding: 0 $layoutSpacing 0 $layoutSpacing;
  background-color: $white;
  transform: translateX(-50%);
}
