.nav-bar {
  height: 104px;
  background-color: $white;
  position: fixed;
  bottom: -52px;
  left: 0;
  right: 0;
  transition: bottom 300ms ease-in-out;
  -webkit-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.17);
  box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.17);

  &.open {
    bottom: 0;
  }

  .nav-item {
    height: 52px;
    position: relative;
    text-align: center;
    color: $black;
    padding-top: 20px;
    font-weight: 600;
    font-size: 14px;
    transition: color 300ms ease-in-out;

    &.active {
      color: $green;
    }

    .call-me {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 82px;
      width: 82px;
      background-color: $white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.17);
      box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.17);
    }
  }

  .border-top {
    border-top: $gray solid 1px;
  }

  .border-left-right {
    border-left:  $gray solid 1px;
    border-right:  $gray solid 1px;
  }
}
